<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"
		level="trace">
		<encoder>
			<pattern>%X{methodName} - %d - %msg%n%xThrowable{full} </pattern>
		</encoder>
	</appender>
	<appender name="FILE-THREAD"
		class="ch.qos.logback.classic.sift.SiftingAppender">

		<sift>
			<appender name="FILE-${methodName}"
				class="ch.qos.logback.core.rolling.RollingFileAppender">
				<rollingPolicy
					class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<FileNamePattern>logs/%d/${testId}.log</FileNamePattern>
					<maxHistory>30</maxHistory>
				</rollingPolicy>
				<layout class="ch.qos.logback.classic.PatternLayout">
					<Pattern>%d{ISO8601} %-5level %C{1} [%M:%L] [%thread] -
						%msg%n%ex{full} </Pattern>
				</layout>
			</appender>
		</sift>
	</appender>
	<root level="trace">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-THREAD" />
	</root>
	<logger name="org.hibernate" level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-THREAD" />
	</logger>
	<logger name="org.apache" level="WARN" />
	<logger name="httpclient" level="WARN" />
</configuration>